.visit-container{
    flex-direction: row;
}

.visit-group{
    width: auto;
    padding-bottom: 50px;
}

nav ul:nth-child(2) div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


nav ul:nth-child(2) div:nth-child(1){
    display: none;
}

nav ul:nth-child(1) i{
    display:  none;
}

nav ul:nth-child(1) h2{
    display:  block;
}

.hero h1{
    font-size: 50px;
}

footer{
    flex-direction: row;
    justify-content: space-between;
}

.gallery h2{
    font-size: 40px;
}